<mat-stepper #stepper>
  <mat-step [stepControl]="form" label="Summary">
    <ng-container *ngIf="people$ | async as data; else loading">
      <app-people-table
        [data]="data"
        (rowClick)="onRowClick($event, stepper)"
      ></app-people-table>
    </ng-container>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </mat-step>
  <mat-step [stepControl]="form" label="Make edits">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">

      </mat-form-field>
    </form>
  </mat-step>
</mat-stepper>
